{% extends "base.html" %}
{% block content %}
  <h1>Sign up</h1>
  <form action="{% url "accounts:signup" %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.auto_id }}" class="form-label">{{ field.label_tag }}</label>
        {{ field }}
        <div class="form-text">{{ field.help_text }}</div>
      </div>
    {% endfor %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
{% endblock content %}