{% extends "base.html" %}
{% block content %}
  <h3><b>식당 수정 페이지</b></h3>
  <form action="{% url "update" info.pk %}" method="POST">
    {% csrf_token %}
    <label class="mb-1" for="name">이름:</label>
    <input class="mb-3" type="text" id="name" name="name" value="{{info.name}}"><br>
    <label class="mb-1" for="address">주소:</label><br>
    <input type="text" name="address" id="address" value="{{info.address}}"><br>
    <p class="description mb-3">주소는 ㅇㅇ시 ㅇㅇ구 ㅇㅇ동 형식으로 작성합니다.</p>
    <label class="mb-1" for="phone_number">전화번호:</label><br>
    <input type="text" name="phone_number" id="phone_number" value="{{info.phone_number}}"><br>
    <p class="description mb-3">전화번호는 특수문자 없이 지역번호를 포함한 숫자만 입력합니다.</p>
    <label class="mb-1" for="description">식당 소개</label><br>
    <textarea class="mb-3" id="description" name="description" rows="3">{{info.description}}</textarea><br>
    <button class="btn btn-primary mb-1" type="submit">UPDATE</button>
  </form>
  <a href="{% url "detail" info.pk %}">[BACK]</a>
{% endblock content %}