{% extends 'base.html' %}
{% block content %}
<h1>Todo</h1>
<hr>
<ul>
  {% for todo in todos %}
    <li>
      <p>{{ todo.author }} - {{ todo.title }}</p>
      <form action="{% url "todos:toggle" todo.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="{% if todo.completed %}취소하기{% else %}완료하기{% endif %}">
      </form>
      <form action="{% url "todos:delete" todo.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제하기">
      </form>
    </li>
  {% empty %}
    <p>작성된 글이 없습니다.</p>
  {% endfor %}
</ul>
{% endblock content %}