<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first</title>
</head>
<body>
    {% if message is None %}
        <p>catch : 아무것도 받지 못함</p>
    {% else %}
        <p>catch : {{ message }} 을/를 받음!</p>
    {% endif %}
    <form action="{% url "second" %}" method="GET">
        <label for="msg">throw:</label>
        <input type="text" id="msg" name="msg">
        <input type="submit" value="휙">
    </form>
</body>
</html>