{% extends 'base.html' %}

{% block content %}
  <h1>Community</h1>
  <hr>
  {% for review in reviews %}
    <p>작성자 : <a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></p>
    <p>글 번호: {{ review.pk }}</p>
    <p>글 제목: {{ review.title }}</p>
    <p>글 내용: {{ review.content }}</p>
    <form class="like-form" data-review-id="{{ review.pk }}">
      {% csrf_token %}
      {% if user in review.like_users.all %}
        <button class="like-button-{{review.pk}}">좋아요 취소</button>
      {% else %}
        <button class="like-button-{{review.pk}}">좋아요</button>
      {% endif %}
    </form>
    <p>
      <span class="count-like-{{review.pk}}">{{ review.like_users.all|length }}</span> 명이 이 글을 좋아합니다.
    </p>
    <a href="{% url 'community:detail' review.pk %}">[detail]</a>
    <hr>
  {% endfor %}
{% endblock content %}

{% block script %}
  <script>
    const forms = document.querySelectorAll('.like-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    forms.forEach(form => {
      form.addEventListener('submit', function (e) {
        e.preventDefault()
        const reviewId = e.target.dataset.reviewId
        
        axios({
          method: 'post',
          url: `/community/${reviewId}/like/`,
          headers: {'X-CSRFToken': csrftoken}
        })
          .then(response => {
            const isLiked = response.data.isLiked
            const countLike = response.data.countLike
            const likeButton = document.querySelector(`.like-button-${reviewId}`)
            const countLikeTag = document.querySelector(`.count-like-${reviewId}`)

            likeButton.textContent = isLiked ? '좋아요 취소' : '좋아요'
            countLikeTag.textContent = countLike
          })
          .catch(error => {
            console.log(error.response)
            if (error.response.status === 302) {
              alert('로그인 후 사용해주세요.')
              window.location.href = error.response.data.location
            }
          })
      })
    })
  </script>
{% endblock script %}