{% extends "base.html" %}
{% block content %}
    <h1>편의점 상세 정보</h1>
    <p>점장 : {{ store.user }}</p>
    <p>주소 : {{ store.address }}</p>
    <p>체인점 여부 : {{ store.is_franchise }}</p>
    <hr>
    {% if request.user == store.user %}
        <h3>신규 상품 등록</h3>
        <form action="{% url "stores:create_product" store.pk %}" method="POST">
            {% csrf_token %}
            {{ product_form.as_p }}
            <input type="submit" value="물품 등록">
        </form>
        <hr>
    {% endif %}
    <h3>전체 상품 목록</h3>
    <ul>
        {% for product in store.product_set.all %}
            <li>이름 : {{ product.name }}</li>
            <li>가격 : {{ product.price }}</li>
            {% if request.user == product.user %}
                <form action="{% url "stores:delete_product" store.pk product.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="DELETE">
                </form>
            {% endif %}
            <hr>
        {% endfor %}
    </ul>
    <a href="{% url "stores:index" %}">[돌아가기]</a>
{% endblock content %}