{% extends "base.html" %}
{% block content %}
  <h1>UPDATE CHANGE</h1>
  <hr>
  <form action="{% url "accounts:update" %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="수정">
  </form>
  <hr>
  <form action="{% url "accounts:delete" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="회원탈퇴">
  </form>
  <button type="button"><a href="{% url "change_password" user.pk %}" style="color:black; text-decoration:none;">비밀번호 변경</a></button>
{% endblock content %}