{% extends "base.html" %}
{% block content %}
  <h1>환영합니다! {{ user.username }}</h1>
  {% if profile.image_file %}
    <img src="{{ profile.image_file.url }}" alt="profile">
  {% endif %}
  {% if profile.nickname %}
    <p>닉네임 : {{ profile.nickname }}</p>
  {% endif %}
  {% if profile.introduction %}
    <p>자기소개 : {{ profile.introduction }}</p>
  {% endif %}
  {% if request.user == profile.user %}
    <div class="d-flex">
      <form action="{% url "accounts:logout" %}">
        <input type="submit" value="로그아웃" class="btn btn-secondary">
      </form>
      <a href="{% url "accounts:update" %}" class="btn btn-warning">회원정보 수정</a>
      <a href="{% url "change_password" user.pk %}" class="btn btn-primary">비밀번호 변경</a>
      <a href="{% url "accounts:delete" %}" class="btn btn-danger">회원 탈퇴</a>
      <a href="{% url "accounts:profile_update" %}" class="btn btn-info">프로필 수정</a>
    </div>
  {% endif %}
  <hr>
  <div class="d-flex flex-wrap row-gap-2">
    {% for post in posts %}
      {% include "posts/post.html" %}
    {% endfor %}
  </div>
{% endblock content %}