{% extends "base.html" %}
{% block content %}
    <h1>직원 전체 목록</h1>
    <ul>
        {% for member in members %}
            <li>이름 : {{ member.username }}</li>
            <li>admin 여부 : {{ member.is_superuser }}</li>
            <li>staff 여부 : {{ member.is_staff }}</li>
            {% if member.username == user.username %}
                <a href="{% url "accounts:update" %}">회원 정보 수정</a>
            {% endif %}
            {% if request.user.is_superuser %}
                <a href="{% url "accounts:change_authority" member.pk %}">관리자 여부 수정</a>
                <form action="{% url "accounts:member_delete" member.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="회원 삭제">
                </form>
            {% endif %}
            <hr>
        {% endfor %}
    </ul>
{% endblock content %}